.graph {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    border: 0.2rem solid lightgray;
    background-color: #ffffff;
}

.graph.active {
    border: 0.2rem solid #3c8dbc;
}

.graph-content {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    height: 100%
}

.graph-content > canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.graph-content > .graph-details {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    margin: .5em;
    padding: .5em;
    background: rgba(255, 255, 255, 0.4);

    max-width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.graph-content > canvas {
    flex-grow: 1;
}

.graph-content .xlabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.graph-content .ylabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}

.graph-content .yticks, .graph-content .xticks {
    position: absolute;
}

.graph-content .tick {
    position: absolute;
    white-space: nowrap;
}

.graph-content .xticks > .tick {
    top: 0.4em;
    transform: translate(-50%, 0);
}

.graph-content .yticks > .tick {
    right: 0.4em;
    transform: translate(0, 50%);
}

.graph-resize-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: #00000090;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons > .btn {
    opacity: 0.3;
    transition: 0.3s;
}

.buttons > .btn:hover, .buttons > .btn.opaque {
    opacity: 0.8;
}