.hidden-graph {
    display: inline-flex;
    align-items: center;

    background: white;
    border-radius: 3px;
    margin: 0 0 0 1rem;
    padding: .1rem .3rem;

    cursor: pointer;

    .dark-mode & {
        color: white;
        background-color: var(--gray-dark);
    }
}

.hidden-graph-title {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8em;
}

.hidden-graph-close {
    border-left: 1px var(--gray) solid;
    margin-left: .2em;
    padding-left: .2em;
}

.hidden-graph-icon {
    display: block;
    margin: .2em;
}
