.sidebar-menu .treeview-menu > li > a.active, .skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    color: #fff;
}

.main-sidebar {
    overflow-x: hidden;
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
}
.sidebar .sidebar-menu {
    overflow: visible;
}
