.btn-group.btn-group-stretch {
    display: flex;
    overflow: hidden;
}

.btn-group-stretch .btn {
    flex: 1
}

.trace-row {
    background-color: white;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    height: 35px;
    user-select: none;
}
.trace-row > .trace-row-title {
    font-size: 0.85em;
    flex-shrink: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.trace-row > .btn {
    flex-grow: 0;
    flex-shrink: 1;
}

.trace-row:not(:last-child) {
    border-bottom: 1px black solid;
}
.trace-row.active {
    background-color: rgb(67, 149, 255);
}
.trace-row:hover:not(.active) {
    background-color: rgb(199, 223, 255);
}

.trace-color-indicator {
    display: inline-block;
    height: 32px;
    width: 0.4em;
    min-width: 0.4em;
}

.ReactVirtualized__Grid {
    outline: none;
}
