.btn-group.btn-group-stretch {
    display: flex;
    overflow: hidden;
}

.btn-group-stretch .btn {
    flex: 1
}

.trace-row-outer {
    background-color: white;
    display: flex;
    height: 35px;
    user-select: none;
}

.trace-row-inner {
    flex-grow: 1;
    height: 100%;
    padding: 0.3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.trace-row-inner > .trace-row-title {
    font-size: 0.85em;
    flex-shrink: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.trace-row-inner > .btn {
    flex-grow: 0;
    flex-shrink: 1;
}
.trace-row-inner > .ldev {
    font-size: 0.9em;
}

.trace-row-inner:not(:last-child) {
    border-bottom: 1px black solid;
}
.trace-row-inner.active {
    background-color: rgb(67, 149, 255);
}
.trace-row-inner:hover:not(.active) {
    background-color: rgb(199, 223, 255);
}

.ReactVirtualized__Grid {
    outline: none;
}
