@import './assets/fonts.css';
@import './assets/theme.scss';

.content-wrapper {
    height: 100%;
}

#root {
    height: 100%;
}
#context-menu > * {
    z-index: 1000;
}

body { 
    background-color: #ecf0f5;
}

body.dark-mode {
    background-color: gray;
}