@import './assets/fonts.css';
@import './assets/theme.scss';

.content-wrapper {
    height: 100%;
}

#context-menu > * {
    z-index: 1000;
}

body { 
    background-color: #ecf0f5;
}

body.dark-mode {
    background-color: gray;
}

#root {
    height: 100%;

    :is(.Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right) {
        top: 4em;
    }

    .Toastify__toast--warning {
        background-color: #df9012;
    }
}

#context-menu {
    .react-contexify__item__content > svg:first-child {
        margin-right: 0.5rem;
    }

    .react-contexify__item__content {
        padding: 4px 8px;
    }
}


body select.form-control {
    background-color: transparent !important;

    &:focus {
        box-shadow: none;
    }

    .dark-mode & {
        color: white;
        border: 1px solid #494949;

        &:not([multiple]) > option {
            color: black;
        }

        // > option {
        //     color: black;
        // }
    }
}
